{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <link href="{% static 'gpt/main.css'%}" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{% static 'portfolio/favicon3.ico' %}"/>
    
    <title>Summarize</title>
  </head>
  <body>
        
      <main role="main" class="container ">
       
        {% block content %}{% endblock %}
                
        
        
    </main>

    <div class="background"style="position: fixed;z-index: -1;">
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
        <span id="b"></span>
     
     </div>
    </body>
   
    <script src="{% static 'gpt/main.js'%}"></script>

</html>